<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <meta name="author" content="author">
    <title>Harbinger</title>
    <link rel="icon" href="favicon.ico">
    <!-- fonts -->
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300">

    <link rel='stylesheet' href="/static/style.css">
</head>

<body>
    <div id='app'>
        Harbinger
    </div>
    <form action='/upload' method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    <script src='/static/index.js'></script>
</body>

</html>