<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <meta name="author" content="author">
    <title>Harbinger</title>
    <link rel="icon" href="favicon.ico">
    <!-- fonts -->
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300">

    <link rel='stylesheet' href="/static/style.css">
    <link rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.min.js' as='script'>
    <link rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.worker.min.js' as='script'>
</head>

<body>
    <div>
        <button id="prev">Previous</button>
        <button id="next">Next</button>
        &nbsp; &nbsp;
        <span>Page:
            <span id="page_num"></span> /
            <span id="page_count"></span>
        </span>
    </div>
    <canvas id="the-canvas"></canvas>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.550/pdf.worker.min.js'></script>
    <script src='/static/viewer.js'></script>
</body>

</html>